<p>search works!</p>



<input [(ngModel)]="searchWord" type="text"/>

<!-- <mat-form-field class="example-form-field">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field> -->
<button (click)="getResults(searchWord)" mat-raised-button color="primary">Search!</button>
Google:
<p *ngFor="let result of resultsGoogle">
{{result}}
</p>

Bing:
<p *ngFor="let result of resultsBing">
    {{result}}
    </p>