


<!-- 
<input [(ngModel)]="searchWord" type="text" /> -->




<mat-form-field >
  <mat-label>Search</mat-label>
  <input matInput [(ngModel)]="searchWord">
</mat-form-field>

<button style="margin-left: 10px;" (click)="getResults(searchWord)" mat-raised-button color="primary">Search!</button>


<mat-list> 
  <mat-spinner *ngIf="loadingGoogle" strokeWidth="3" [diameter]="50"></mat-spinner>
  <div  *ngIf="clickedOnce">
    <div style="font-weight: bold;" mat-subheader>Google</div>
    <div *ngIf="!loadingGoogle && (!resultsGoogle ||resultsGoogle.length==0)">No search results</div>
  </div>


  <mat-list-item *ngFor="let result of resultsGoogle">
    <div mat-line>{{result}}</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-spinner  *ngIf="loadingBing" strokeWidth="3" [diameter]="50"></mat-spinner>
  <div *ngIf="clickedOnce" >
    <div  style="font-weight: bold;" mat-subheader>Bing</div>
    <div *ngIf="!loadingBing && (!resultsBing ||resultsBing.length==0)">No search results</div>
  </div>

  <mat-list-item *ngFor="let result of resultsBing">

    <div mat-line>{{result}}</div>
  </mat-list-item>
</mat-list>


<!-- 
Google:
<p *ngFor="let result of resultsGoogle">
  {{result}}
</p>

Bing:
<p *ngFor="let result of resultsBing">
  {{result}}
</p> -->